---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">Here's a snapshot of the primary tools and technologies I work with:</p>
  <ul class="list-disc pl-5 text-sm font-light">
    <li><strong>JavaScript</strong></li>
    <li><strong>Python</strong></li>
    <li><strong>Nuxt.js</strong></li>
    <li><strong>Vue.js</strong></li>
    <li><strong>Next.js</strong></li>
  </ul>
</Card>
